@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply font-barlow text-body-16 text-natural-9;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .inner-container {
    @apply flex items-center justify-center max-w-[75rem] mx-auto;
  }

  .text-h1 {
    font-size: 7.5rem;
    line-height: 1.2;
  }
  .text-h2 {
    font-size: 5rem;
    line-height: 1.2;
  }
  .text-h3 {
    font-size: 4rem;
    line-height: 1.2;
  }
  .text-h4 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .text-h5,
  .text-body-24 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .text-h6,
  .text-body-20 {
    font-size: 1.25rem;
    line-height: 1.2;
  }
  .text-body-16 {
    font-size: 1rem;
    line-height: 1.2;
  }
  .text-body-12 {
    font-size: 0.75rem;
    line-height: 1.2;
  }
  .text-body-10 {
    font-size: 0.625rem;
    line-height: 1.2;
  }

  .cust-underline {
    @apply relative;
  }

  .cust-underline::after {
    @apply content-[""] bg-natural-9 h-1 absolute bottom-0 left-0;
  }

  .indented-bullet-list {
    @apply list-none;
  }

  .indented-bullet-list li {
    @apply relative pl-4;
  }

  .indented-bullet-list li::before {
    @apply absolute content-["\2022"] left-0 text-body-16;
  }
}

@layer components {
  /* CAROUSEL */

  .carousel-arrow-next,
  .carousel-arrow-prev {
    @apply transition-all duration-300 disabled:opacity-0 w-[5%] aspect-square !important;
  }

  .carousel-arrow-prev {
    @apply left-6 max-md:left-2 !important;
  }

  .carousel-arrow-next {
    @apply right-6 max-md:right-2 !important;
  }

  /* PRODUCT CATEGORIES */

  .category-card {
    @apply flex flex-col !rounded-none border border-natural-9;
  }

  .viewer-card {
    width: clamp(18.75rem, 80vw, 25rem) !important;
    @apply shadow-md rounded-none shrink-0;
  }

  /* NAVIGATION MENU */

  .navmenu-fixed {
    @apply fixed top-0 transition-[opacity] md:opacity-50 hover:opacity-100;
    animation: slide-in-top 200ms;
  }

  /* NAVIGATION LINK */

  .nav-link {
    @apply cust-underline;
  }

  .nav-link::after {
    @apply w-2 h-[0.125rem] transition-all duration-300 -bottom-[0.125rem];
  }

  .nav-link::after:hover {
    @apply w-full;
  }
}
