@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply font-barlow text-base;
  }
}

@layer utilities {
  .inner-container {
    @apply flex items-center justify-center max-w-[75rem] mx-auto;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

@layer components {
  /* CAROUSEL */

  .carousel-arrow-next,
  .carousel-arrow-prev {
    @apply transition-all duration-300 disabled:opacity-0 w-[5%] aspect-square !important;
  }

  .carousel-arrow-prev {
    @apply left-6 max-md:left-2 !important;
  }

  .carousel-arrow-next {
    @apply right-6 max-md:right-2 !important;
  }

  /* PRODUCT CATEGORIES */

  .category-card {
    @apply rounded-none border-natural-9 max-w-sm lg:max-w-[32%] md:max-w-[38%] !important;
  }
}
